<div
  [class]="isViewCollapsed() ? 'w-16' : 'w-48 pl-4'"
  class="flex flex-col min-h-screen pt-2 side-bar-background"
>
  <div class="flex min-h-8 max-h-8 mb-4 side-bar-text-transition">
    <h1
      class="text-lg font-semibold text-styling side-bar-text-transition"
      [class]="isViewCollapsed() ? 'w-0 opacity-0 mr-0' : 'mr-2 pt-0.5'"
    >
      Bienvenida Sam
    </h1>

    <button
      class="cursor-pointer rounded-sm h-8 w-8 flex items-center justify-center side-bar-text-transition hover-styling"
      [class.mx-auto]="isViewCollapsed()"
      (click)="toggleCollapsedView()"
    >
      <fa-icon
        [icon]="isViewCollapsed() ? faAnglesRight : faAnglesLeft"
        class="cursor-pointer text-styling"
      />
    </button>
  </div>

  <div class="flex flex-col">
    @for (tab of sideBarTabs; track $index) {
      <a
        routerLink="{{ tab.url }}"
        class="flex min-h-8 max-h-8 mb-4 side-bar-text-transition"
        [class]="isViewCollapsed() ? '' : 'rounded-sm hover-styling mr-4'"
      >
        <button
          class="h-8 w-8 flex items-center justify-center side-bar-text-transition"
          [class]="
            isViewCollapsed()
              ? 'mx-auto rounded-sm hover-styling cursor-pointer'
              : ''
          "
          (click)="toggleCollapsedView()"
        >
          <fa-icon [icon]="tab.icon" class="cursor-pointer text-styling" />
        </button>

        <h1
          class="text-lg font-medium text-styling side-bar-text-transition"
          [class]="isViewCollapsed() ? 'w-0 opacity-0 mr-0' : 'pl-1 pt-0.5'"
        >
          {{ tab.label }}
        </h1>
      </a>
    }
  </div>
</div>
